$white: #ffffff;
$black: #000000;

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  height: 60px;

  a {
    color: $white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
}
