@import "../../../shared/styles.scss";

.post-list {
  padding: $unit-4;
  background-color: $gray-lighter;
  border-radius: $border-radius;
  
  .post-list-item {
    background-color: $white;
    padding: $unit-4;
    margin-bottom: $unit-2;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    h2 {
      margin-top: 0;
    }
  }
}